/*===================
Base styles
====================*/

* {
   box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #4c9ed9;
  background-color: rgb(223, 177, 231);
}

.all-content {
    margin: auto;
    padding-right: 10px;
}

.main-header {
  text-transform: uppercase;
  margin-bottom: 0;
}

.name {
 text-align: center;
 color: grey;
 font-family: bold;
 font-size: 25px;
 text-shadow: 1px 1px 10px rgb(60, 60, 60);
}

.first-pg {
  width: 80%;
  text-align: center;
  padding: 1.4rem 1.4rem 3rem;
  margin: auto;
  line-height: 1.4;
  font-weight: 100;
  font-size: 0.8rem;
}

a {
color: rgb(116, 125, 120);
text-decoration: none;
text-transform: capitalize;
font-size: 25px;
font-weight: 500;
display: inline;
width: 100%;
text-shadow: 1px 1px 5px rgb(60, 60, 60);
}

.profile-img {
margin-right: 20px;
width: 35%;
}

h2 {
  text-transform: uppercase;
  color: rgb(69, 69, 71);
  font-size: 25px;
  padding-top: 2em;
  padding-bottom: 1em;
  text-shadow: 1px 1px 7px rgb(60, 60, 60);
}

.main-content {
  margin: 0 auto;
  max-width: 1100px;
  font-family: Noto Sans;
  padding-bottom: 20px;
}

.col {
display: block;
margin: 20px 10px;
height: 250;
color: white;
text-align: center;
letter-spacing: 1px;
padding-top: 5px;
}

.col, img {
  max-width: 100%;
}

h3 {
  font-size: 2.5em;
  color: grey;
  font-family: 'nunito sans';
  text-shadow: 1px 1px 1px rgb(60, 60, 60);
}

nav clearfix {
text-align: center;
margin: auto;
color: rgb(60, 60, 60);
font-size: 25px;
letter-spacing: .05em;
line-height: 1.2em;
padding: 2em 0;
width: 80%;
text-shadow: 1px 1px 5px rgb(60, 60, 60);
}

p {
  text-align: center;
  margin: auto;
  color: rgb(60, 60, 60);
  font-size: 25px;
  letter-spacing: .05em;
  line-height: 1.2em;
  padding: 2em 0;
  width: 80%;
  text-shadow: 1px 1px 5px rgb(60, 60, 60);
}

.nav-group a:hover {
   color: rgb(181, 179, 190);
}

ul, li {
  display: block;
  color: grey;
  font-size:  1.125em;
  font-weight: 100;
  text-align: center;
  padding: .4em;
  text-decoration: none;
}

.contact-info, p {
  padding-top: .05em;
  padding-bottom: 1.5em;
}

.footer-name {
  text-transform: uppercase;
  text-align: center;
  color: grey;
  font-family: bold;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 1px 1px rgb(60, 60, 60);
  float: left;
  display: inline-block;
}

.top {
  font-size: 20px;
  text-transform: uppercase;
  justify-content: space-between;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-nav > li {
  display: none;
}


a:hover {
  text-decoration: none;
  color:  rgb(255, 0, 0);
}

  .clearfix::after {
    content: " ";
    clear: both;
    display: table;
}


/*==== Media Queries ====*/
@media  (min-width: 768px)  {
  .body {
    width: 95%;
    margin: 0 auto;
  }
  .footer-name {
    display: inline-block;
    float: left;
  }
  .top {
    display: inline-block;
    float: right;
  }
}
